[Desktop Entry]
Name=Tn5250j
GenericName=Tn5250j
Comment=5250 terminal emulator for the IBM i (aka AS/400 or System i)
Type=Application
Categories=Network
Icon=tn5250j
