Package: [[name]]
Version: [[version]]
Depends: default-jre
Architecture: all
Section: net
Maintainer: Roberto Bizzozero <zenovalle@gmail.com>
Homepage: http://tn5250j.org/
Priority: optional
Description: 5250 terminal emulator for the IBM i written in Java.
 Tn5250j is a 5250 terminal emulator for the IBM i written in Java.
