[Desktop Entry]
Categories=Network;
Comment=5250 terminal emulator for the IBM i
Exec=/usr/bin/tn5250j
GenericName=5250 Terminal Emulator
Icon=tn5250j
Keywords=Internet;Emulator;Terminal;5250;AS400;IBM;
MimeType=
Name=Tn5250j
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=/usr/bin/tn5250j
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=